[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
openpyxl = "*"
configparser = "*"

[dev-packages]
pyinstaller = "*"
auto-py-to-exe = "*"
pillow = "*"

[requires]
python_version = "3.9"
